<h1>Vampire Diaries</h1>
<ul>
	<li>Elena</li>
	<li>Stephan</li>
	<li>Damon</li>
	<li><%= @newcharacter %></li>
</ul>
	<a href="/species">the Creatures of Vampire Diaries</a>
	<br>
	<a href="/supportingcharacters">The Supporting Cast of Vampire Diaries</a>

	