body {
	/*background-color: goldenrod;*/
	text-align: center;	
	background-image: url("http://image-cdn.zap2it.com/photogallery/images/zap-reign-season-2-cast-photos-20140924-008");
	background-size: 100%;
	background-repeat: no-repeat;
	color: mistyrose;
}	

h1 {
	font-size: 4em;
	font-family: cursive;
}

ul {
	list-style-position: inside;
}

li {
	font-size: 2.2em;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	font-size: 1.7em;
	color: antiquewhite;
	font-family: cursive;
}

h1.main-char {
	margin-top: 1%;
	margin-bottom: 1%;
}

h1.main-subtitle {
	margin-top: 1%;
}

img.main-char {
	height: 20em;	
	border-radius: 10%;
	margin: 0 auto;
}	

a.footer {
	position: absolute;
	bottom: 0;
	/*left: 45%;*/
	margin-bottom: 1%;
}

a.footer#home {
	left: 30%;

}

a.footer#update {
	left: 45%;
}

a.footer#destroy {
	left: 59%;
}

input {
	width: 25%;
	margin-bottom: 2%;
	height: 50px;
}

input[type="submit"] {
	width: 10%;
}

/*google any color or style that you are looking for, CSS is easy to find*/
