<h1>REIGN</h1>
<ul>
 	<li>Queen Mary</li>
 	<li>King Francis</li>
 	<li>Queen Katherin de Medici</li>
 	<li>Lady Kenna</li>
 	<li><%= @newname %></li>
</ul>
<a href="/countries">The Countries of Reign Royalty </a>
<br>
<a href="/supportingcharacters">The Supporting Cast of Reign</a>