<h1>REIGN</h1>
<ul>
 	<li>Queen Mary</li>
 	<li>King Francis</li>
 	<li>Queen Katherin de Medici</li>
 	<li><%= @newname %></li> 
 	<!-- when you put anyname into the url it will add! because of the squids/percent signs-->
</ul>
<a href="/countries">The Countries of Reign Royalty </a>
<br>
<a href="/supportingcharacters">The Supporting Cast of Reign</a>