<!-- #this is where the form goes -->
<h1>Create A New Royal</h1>
<form action="/maincharacters" method="POST">
	<label for="mainchar[name]">Name</label>
	<br>
	<input type="text" name="mainchar[name]">
	<br>
	<label for="mainchar[country]">Country</label>
	<br>
	<input type="text" name="mainchar[country]">
	<br>
	<label for="mainchar[bio]">Bio</label>
	<br>
	<input type="text" name="mainchar[bio]">
	<br>
	<label for="mainchar[pic]">Picture</label>
	<br>
	<input type="text" name="mainchar[pic]">
	<br>
	<input type="submit">
</form>

<a href="/">Home</a>