<h1>list of characters</h1>
<ul>
	<% @characters.each do |character| %>
	<!-- iterating through the file of characters in my text list,
	and this is why I need to make it into an array. The equal signs for are when
	you want something to actually show up in the browser, you only put the squids when you want something to show up-->
		<li>
			<%= character %>
		</li>
	<% end %>
		
		<!-- its going to get read as pure Ruby code NOT substitution because they no equals -->
		<!-- each time you want it to show you need to put the equal signs -->
</ul>
<!-- a form is needed when we need the user to provide some info
a --> <!-- form will send http request with info inside the request
the action tells it what route it should send its request to, the method tells what type of http request it should be, so when you start your form, then when the client hits submit, the server receives a post request to /persist. the label tag is how to write text explaining the buttons. input tags are where the info goes, like a little box:) you must have a name attribute with an input tag. You need to have a submit button to make it go over to the server.  -->




<form action="/persist" method="POST">
	<label for="newcharactername">Enter a Royal</label>
	<br>
	<input type="text" name="newcharactername">
	<br>
	<input type="submit" value="click here">
</form>







